<h1>Liste de chiens</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Race</th>
        <th>Date Naissance</th>
        <th>Supprimer</th>
    </tr>
    <tbody>
        <tr *ngFor="let chien of listeChien">
            <td>{{chien.id}}</td>
            <td>{{chien.nom}}</td>
            <td>{{chien.race}}</td>
            <td>{{chien.dateNaissance | date:'dd/MM/yyyy'}}</td>
            <td><button (click)="removeDog(chien.id)">Supprimer</button></td>
        </tr>
        <tr>
            <td>#</td>
            <td><input type="text" [(ngModel)]="newDog.nom"></td>
            <td><input type="text" [(ngModel)]="newDog.race"></td>
            <td><input type="date" [(ngModel)]="newDog.dateNaissance"></td>
            <td><button (click)="addDog()">Ajouter</button></td>
        </tr>
    </tbody>
</table>
<!--#title/>-->
<!--<ul>
    <li *ngFor="let item of liste; index as clef">
        {{clef}} {{item.nom}}
        <button (click)="removeDog(item.id)">Delete</button>
    </li>
</ul>-->